<div ng-init="Populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMsg}}</p>
    <div class="panel">
        <table class="table table-striped">
            <tbody>
                <tr data-ng-repeat="item in valuesList">
                    <td>
                        <p>{{ item }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>